/* 0080FF - Nice blue */

* {
    margin: 0;
    padding: 0;
}

/* Had to use !important here because there was a bootstrap class for the navbar overriding this */

#my-nav {
    justify-content: space-between;
    border-bottom: 1px solid darkgray;
}

#my-nav .navbar-brand {
    margin-right: 5px;
}

.navbar-toggler {
    color: black;
}

.anchor {
    padding-top: 65px;
    margin-top: -65px;
}

#jumbo {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#projects-header span {
    color: black;
    /* background-color: #F8F9FA; */
    background-color: white;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

#projects {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}

#project-card {
    max-width: 300px;
    margin-bottom: 25px;
    /* max-height: 400px; */
}

.card-img-top {
    max-height: 200px;
}

.fa-link {
    margin-right: 5px;
}

.text-muted {
    position: absolute;
    bottom: 10px;
}

@media only screen and (max-width: 576px) {
    #project-card {
        margin: auto;
        margin-bottom: 25px;
    }
    .jumbotron {
        margin-top: 25px;
    }
    #my-nav .navbar-nav {
        /* justify-content: flex-start; */
        flex-direction: row;
    }
    #my-nav .navbar-nav .nav-item {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    /* .card-img-top {} */
}